{% extends "base.html" %}
{% load static %}


{% block title %}
    Главная страница
{% endblock %}

{% block content %}

<div class="system-message">
    <span class="status">SYSTEM MESSAGE</span>
    <h1>
        Система инициализирована
    </h1>
    <p>
        Подключение к виртуальному миру успешно выполнено
    </p>
</div>

<div class="welcome-container">
    <div class="welcome-text">
        <p>
            Перед вами — интерактивная энциклопедия, посвящённая вселенной
            Sword Art Online и легендарной парящей крепости Aincrad.
            Здесь вы сможете исследовать информацию о персонажах,
            оружии, монстрах и ключевых событиях оригинальной истории.
        </p>
        <p>
            Каждый этаж Айнкрада хранит собственную атмосферу,
            опасности и историю. Проект создаётся с целью передать
            ощущение настоящего путешествия по миру SAO —
            от стартового города первого уровня до самых высоких этажей крепости.
        </p>
        <p>
            Главной особенностью проекта станет интерактивная 3D-карта Aincrad,
            позволяющая исследовать локации, изучать структуру этажей
            и взаимодействовать с миром так,
            словно вы сами стали игроком Sword Art Online.
        </p>
        <p>
            Данный проект является полностью некоммерческим
            и создаётся фанатом в образовательных и творческих целях.
        </p>
        <p class="final-text">
            Система готова к работе.<br>
            Начните исследование Aincrad.
        </p>
    </div>
</div>
{% endblock %}
